.container_header_homepage {
  padding: 20px 16px 0;
  color: white;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header h1 {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  color: #4811FF;
  font-family: var(--urfu-font-family);
}

.profile-icon {
  width: 25px;
  height: 25px;
  color: #4811FF;
  margin-right: 5px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.profile-icon:hover {
  transform: scale(1.05);
}

.search {
  margin: 20px 0 35px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 24px;
  background: transparent;
  padding-left: 5px;
}

.search-by-image-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 2px 8px 0;
  color: #555;
  cursor: pointer;
}

.clear-image-search {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #999;
}
.no-results {
  text-align: center;
  padding: 2rem;
  color: #777;
}

.icon-search {
  position: absolute;
  color: var(--search-icon-color);
  left: 15px;
  top: 25%;
  z-index: 2;
  width: 27px;
  height: 27px;
  margin-right: 10px;
}

.search-icon-wrapper {
  width: 34px;
  height: 40px;
} 

.logo-uni {
  cursor: pointer;
}

.ai-icon {
  width: 30px;
  height: 30px;
  color: #4811FF;
}

.tabs {
  display: flex;
  overflow: hidden;
  background: linear-gradient(to bottom, var(--accent-bg) 60%, #4811FF 60%);
  z-index: 100;
  border-color: none;
  width: 100%;
}

.tabs button {
  flex: 1;
  padding: 25px 28px;
  border-radius: 35px 35px 0 0;
  border-color: transparent;
  background: #4811FF;
  color: var(--based-color6);
  cursor: pointer;
  font-size: 34px;
  font-weight: 700;
  font-family: var(--urfu-font-family);
}

.tabs.lost button:last-child {
  border-radius: 35px 0px 0 35px;
  background: var(--accent-bg);
  color: var(--based-color4);
}

.tabs.found button:first-child {
  border-radius: 0px 0px 35px 0px;
  background: var(--accent-bg);
  color: var(--based-color4);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 16px;
  background: #4811FF;
  padding: 0 16px;
  margin-bottom: 80px;
  font-family: var(--urfu-font-family-1);
}

.card {
  background: var(--based-color2);
  border-radius: 20px;
  overflow: hidden;
  color: black;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-image-main {
  overflow: hidden;
  height: 200px;
  aspect-ratio: 1 / 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: transform .5s ease;
  overflow: hidden;
}

.card img:hover {
  transform: scale(1.05);
}

.card-title {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  width: 100%;
  background: var(--based-color9);
  position: absolute;
  bottom: 0;
  left: 0;
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #DCD1FF;
  color: #4811FF;
  font-size: 70px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1006;
}

.fab-open {
  background: #4811FF;
  color: #DCD1FF;
}

.container_main_homepage {
  display: flex;
  flex-direction: column;
  position: relative;
}

.phon {
  background: #4811FF;
  border-radius: 35px 35px 0 0;
  border-color: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidebar-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
  justify-content: flex-end;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  display: flex;
}

.sidebar-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.sidebar {
  position: fixed;        
  z-index: 10003;
  width: 90vw;
  height: 100vh;         
  right: 0;
  top: 0;
  background: white;

  transform: translateX(100%);
  transition: transform 0.2s ease;
}

.sidebar.open {
  transform: translateX(0);
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200000;
  padding: 0 16px;
  min-width: 100%;
}

.popup-image-wrapper {
  position: relative;
}

.search-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: var(--input-bg);
  border-radius: 35px;
  padding: 5px 15px;
}

.popup {
  background: var(--based-color2);
  border-radius: 20px;
  max-height: 85vh;    
  width: 100%;   
  animation: popupFade 0.2s ease;
}

.discription-for-card {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 5px;
}

.discription-for-card p {
  color: var(--eye-icon-bg);
  font-size: 18px;
}

.popup h2 {
  font-size: 24px;
  font-weight: 500;
}

.popup img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 200px;
  object-fit: cover;
  position: relative;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.popup-fullscreen {
  position: absolute;
  bottom: 15px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: #4811FF;
}

@keyframes popupFade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.location {
  display: flex;
  align-items: center;
  gap: 8px;
}

.location-icon {
  width: 25px;
  height: 25px;
  color: var(--eye-icon-bg);
}

.responce-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4811FF;
  color: #DCD1FF;
  border-radius: 35px;
  font-family: var(--urfu-font-family);
  font-size: 20px;
  font-weight: 500;
  padding: 10px 22px;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
  margin-bottom: 5px;
}

.popup-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.responce-btn:hover {
  transform: scale(1.05);
}

.cross-icon {
  width: 25px;
  height: 25px;
  color: #4811FF;
  font-size: 30px;
}

.image-viewer {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.image-viewer-img {
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
}

.appeal-btn {
  color: red;
  position: absolute;
  bottom: 15px;
  left: 10px;
  font-size: 30px;
  cursor: pointer;
}


.card-author {
  font-size: 14px;
  color: var(--based-color6);
  margin-top: 10px;
}

.author {
  color: #4811FF;
}

.search-suggestions {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background: var(--based-color2);
  border-radius: 20px;
  overflow: hidden;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0,0,0,.15);
  font-size: 20px;
}

.search-suggestion {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 45px;
  cursor: pointer;
  color: var(--based-color8);
}

.search-suggestion:hover {
  background: var(--based-color7);
  color: #4811FF;
}

.ghost {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 14px 14px 14px 52px; 
  font-size: 24px;
  line-height: 1;
  display: flex;
  align-items: center;
  color: transparent;
  pointer-events: none;
  z-index: 1;
  box-sizing: border-box;
  white-space: pre;
}

.ghost-rest {
  color: #d9d9d9;
  /* margin-top: 4px; */
  font-size: 24px;
  font-family: var(--urfu-font-family-1);
  font-weight: 600;
}

.filter-block {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.4s ease;
  position: relative;
}

.filter-icon {
  font-size: 30px;
}

.filter-icon.rotated {
  transform: rotate(90deg);
}

.filters {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px 20px;
  justify-content: center;
  gap: 30px;
}

.filter {
  background: #DCD1FF;
  border: none;
  padding: 6px 20px;
  border-radius: 35px;
  color: #4811FF;
  font-size: 24px;
  font-weight: 700;
  font-family: var(--urfu-font-family);
  display: flex;
  align-items: center;
  gap: 5px;
  min-height: 40px;
}

.filter-popup {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  background: var(--based-color2);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 10000;
}

.filter-popup button {
  border: none;
  background: var(--based-color2);
  padding: 12px 16px;
  text-align: left;
  cursor: pointer;
  font-family: var(--urfu-font-family);
  color: var(--based-color8);
  font-size: 20px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.filter-check {
  color: #4811FF;
}

.filter-popup button:hover {
  background: var(--based-color7);
  color: #4811ff;
}

.filter-active {
  border: 2px solid #fff;
  box-shadow: 0px 0px 3px 1px #fff;
}

.delete-btn {
  position: absolute;
  top: 15px;
  left: 10px;
  color: #4811FF;
  font-size: 25px;
  cursor: pointer;
}

.pickup-point-selector {
  display: flex;
  width: 100%;
}

.pickup-point-block {
 margin: 10px 20px;
}

.filter-option {
  font-weight: 500;
  padding: 8px 12px;
}

@media (max-width: 600px) {
  .tabs button {
    padding: 25px 10px;
    font-size: 20px;
  }

  .filter {
    font-size: 16px;
    padding: 6px 8px;
  }

  .filter-icon {
    font-size: 20px;
  }

  .filters {
    gap: clamp(10px, 2vw, 30px);
    justify-content: space-between;
  }

  .filter-popup button {
    font-size: 16px;
    padding: 12px 8px;
  }

  .discription-for-card p {
    font-size: 16px;
  }

  .ghost {
    padding: 14px 14px 14px 48px; 
  }

}

@media (max-width: 400px) {
  .filter {
    font-size: 14px;
    padding: 6px 8px;
  }

  .filter-popup {
    width: 120px;
  }
  
  .filter-popup button {
    font-size: 14px;
    padding: 12px 8px;
  }

  .discription-for-card p {
    font-size: 14px;
  }
}