.container {
  /* width: 100vw; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-menu {
  border-radius: 8px;
  display: flex;
  gap: 22px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 412px;
  padding: 0 22px;
}

.title {
  color: #4811FF;
  font-size: 64px;
  font-weight: 700;
  display: inline-block;
  padding: 0;
  line-height: 1;
  margin: 0;
}

.input {
  width: 100%;
  padding: 0 24px;
  border: none;
  border-radius: 35px;
  font-size: 24px;
  font-weight: 400;
  outline: none;
  height: 67px;
  border: 2px solid var(--border-color);
}

.btn {
  border: none;
  border-radius: 35px;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.2s;
  padding: 14px;
  width: 100%;
  height: 67px;
  background: #4811FF;
  color: #fff;
  font-family: var(--urfu-font-family);
}

.primary:hover {
  opacity: 0.9;
  background: #3a0ec9;
  transform: scale(1.005);
}

.secondary {
  background: var(--based-color2);
  color: var(--enter-btn-color);
  border: 2px solid var(--border-color);
}

.secondary:hover {
  background: var(--registration-btn-bg);
  transform: scale(1.005);
}



@keyframes slideIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.field {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}

.tooltip {
  position: absolute;
  top: 97%;
  left: 10px;
  margin-top: 8px;

  background: #fff;
  color: #f01111;
  padding: 10px 14px;
  font-size: 15px;

  border: 1px solid #d4d3d3;
  border-radius: 8px;

  box-shadow: 0 2px 6px rgba(0,0,0,0.15);

  white-space: nowrap;
  z-index: 10;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 20px;

  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #d4d3d3 transparent;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: -11px;
  left: 20px;

  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.input-error {
  border: 2px solid #ff4d4f;
}

.eye {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  font-size: 30px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--eye-icon-bg);
}
