.main-profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* border: 2px dashed #aaa; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  margin-top: 30px;
}

.avatar-circle:hover {
  border-color: #555;
  transform: scale(1.03);
}

.avatar-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plus-icon {
  font-size: 30px;
  color: #666;
}