@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:wght@600&display=swap');
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #DCD1FF;
  font-family: 'Inter', sans-serif;
  /* height: 100vw; */
}

.container-registration {
  /* width: 100vw; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-registration {
  border-radius: 8px;
  display: flex;
  gap: 22px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 412px;
  padding: 0 22px;
}

.title-registration {
  color: #4811FF;
  font-size: 64px;
  font-weight: 700;
  display: inline-block;
  padding: 0;
  line-height: 1;
  margin: 0;
}

.input-registration {
  width: 100%;
  padding: 0 24px;
  border: none;
  border-radius: 35px;
  background: #fff;
  font-size: 24px;
  font-weight: 400;
  outline: none;
  height: 67px;
}

.btn-registration {
  border: none;
  border-radius: 35px;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.2s;
  padding: 14px;
  width: 100%;
  height: 67px;
  background: #4811FF;
  color: #fff;
}

.primary-registration:hover {
  opacity: 0.9;
  background: #3a0ec9;
  transform: scale(1.005);
}

.secondary-registration {
  background: #fff;
  color: #4811FF;
}

.secondary-registration:hover {
  background: #ebe9e9;
  transform: scale(1.005);
}



@keyframes slideIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.field-registration {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}

.tooltip-registration {
  position: absolute;
  top: 97%;
  left: 10px;
  margin-top: 8px;

  background: #fff;
  color: #f01111;
  padding: 10px 14px;
  font-size: 15px;

  border: 1px solid #d4d3d3;
  border-radius: 8px;

  box-shadow: 0 2px 6px rgba(0,0,0,0.15);

  white-space: nowrap;
  z-index: 10;
}

.tooltip-registration::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 20px;

  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #d4d3d3 transparent;
}

.tooltip-registration::after {
  content: "";
  position: absolute;
  top: -11px;
  left: 20px;

  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.input-registration-error {
  border: 2px solid #ff4d4f;
}

.eye-registration {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  font-size: 30px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

