@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'Baloo';
  src: url('/Baloo/baloo-cyrillic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.toast-progress {
  background: #4811FF !important;
}

.Toastify__toast-icon svg {
  fill: #8b5cf6 !important;
}

.Toastify__progress-bar--bg {
  background: #8b5cf6 !important;
}

.custom-toast-warning, .custom-toast-error, .custom-toast, .custom-toast-info {
  background-color: var(--based-color2) !important;
  color: var(--based-color8) !important;
}
